@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

$color-principal: #FF6060;
$footer_bg_color: #000000;
$footer_color: #ffffff;
$section_grey_bg: #F6F6F6;


$size_index: 0.0625;
$font_size: (
    '24px': calc(24rem *  $size_index),
    '36px': calc(36rem * $size_index),
    '48px': calc(48rem * $size_index),
    '18px': calc(18rem * $size_index),
    '288px': calc(288rem * $size_index),
    '14px': calc(14rem * $size_index),
    '12px': calc(12rem * $size_index),
    '96px': calc(96rem * $size_index),
    );

*{
    font-family: 'Montserrat', sans-serif;
}

h1{
    color: $color-principal;
    font-size: map-get($font_size, '36px');
}

.header{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

footer{
    background-color: $footer_bg_color;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: $footer_color;
    font-size: map-get($font_size, '24px');
    .copyright_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .logo_footer{
            height: 2rem;
            margin-bottom: 1.5rem;
        }
    }
}

.logo{
    height: 3rem;

}
nav{
    display: flex;
    justify-content: flex-end;
    ul{
        list-style-type: none;
        display: flex;
        margin: 0;
        padding: 0;
        li{
            margin-left: 2.5rem;
            font-size: map-get($font_size, '24px');
            text-transform: uppercase;
            
            a{
                color: $color-principal;
                text-decoration: none;
                &:hover{
                    text-decoration:underline;
                    color: $color-principal;
                }
            }
        }
        
    }
    
}

.banner{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 233px;
    width: 100%;
  
    font-size: map-get($font_size, '48px');
    color: $footer_color;
    border-radius: 25px;
    margin-bottom: 3rem;
    padding: 0;
    overflow: hidden;
    

    .filter{
        background-color: rgba(0, 0, 0, .3);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}



.content{
    border-radius: 25px;
    background-color: $section_grey_bg;
    padding: 1rem;
    .row{
        display: flex;
        justify-content: center;

        .my-card{

            margin: 1rem;

            background-size: cover;
            width: calc(33.33% - 2rem - 0.66rem);

            padding-bottom:  calc(33.33% - 2rem - 0.66rem);
            position: relative;
            border-radius: 10px;
            overflow: hidden;
            &:after {
                content: "";
                display: block;    
                width: 100%;
                height: 50%;    
                position: absolute;
                bottom: 0;      
                left: 0;   
                background: transparent;
                background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .7));
                opacity: 0.8;
            }
            .title{
                position: absolute;
                bottom: 1rem;
                left: 1rem;
                padding-right: 1rem;
                font-size: map-get($font_size, '18px');
                color: $footer_color;
                z-index: 10;
            }
            a{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
            }
       
       
        
        }
    }

}


// .mySlider{
//     position: relative;
//     margin-bottom: 2rem;

//     .slider-cont{
//         height: 415px;
//         overflow: hidden;
//         display: flex;
//         flex-shrink: 0;
//     }
   


//     .slider-picture{
//         height: 415px;
//         object-fit: cover;
//         width: 100%;
//         border-radius: 25px;
//         overflow: hidden;

//         // transform: translateX(100%);
//     }

.slider {
    position: relative;
    width: 100%;
    height: 415px;
    // margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 2rem;

        .slider-cont{
        height: 415px;
        overflow: hidden;
        display: flex;
        flex-shrink: 0;
        padding: 0;
    }

 
.slider-img {
    position: absolute;
    height: 415px;
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
        transition: all .5s;
        img{
            height: 415px;
            object-fit: cover;
            width: 100%;
        }

    
}
 
.slider-img-prev {
    transform: translateX(-100%);
}
 
.slider-img-next {
    transform: translateX(100%);
}
//==============================================

    

    .slide-btn {
        position: absolute;
        width: 47px;
        height: 80px;
        top: calc(50% - 40px);
        z-index: 1;
        border: 0;
        background-color: transparent;
        &.invisible{
            display: none;
        }
        &.slide-btn--left{
            background-image: url('../images/left.svg');
            left: 23px;
        }
        &.slide-btn--right{
            background-image: url('../images/right.svg');
            right: 23px;
        }
    }

    .slide-number{
        color: $footer_color;
        font-size: map-get($font_size, '18px');
        position: absolute;
        bottom: 25px;
        width: 2rem;
        left: calc(50% - 1rem);
        text-align: center;
        z-index: 1;
        white-space: nowrap;
        
        

    }
}

.right_content{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.host{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    &-name{
        color: $color-principal;
        font-size: map-get($font_size, '18px');
        text-align: right;
        hyphens: auto;
        width: auto;


    }
    &-image{
        width: 4rem;
        height: 4rem;
        object-fit: cover;
        border-radius: 2rem;
        margin-left: 10px;

    }
}

.location{
    font-size: map-get($font_size, '18px');
    color: $color-principal;
    margin-bottom: 20px;
}
.tags{
    display: flex;
    .tag{
        color: $footer_color;
        background-color: $color-principal;
        font-size: map-get($font_size, '14px');
        line-height: 25px;
        border-radius: 12px;
        padding-left: 2rem;
        padding-right: 2rem;
        margin-right: 10px;
        margin-bottom: 1.5rem;
    }
}

.accord{
    &-container{
        margin-bottom: 1rem;
    }
    &-row{
        display: flex;
        align-items: stretch;
    }
    &-col{

    }

}

.accordion{
   
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 1rem;

    &--title{
        background-color: $section_grey_bg;
        color: $footer_color;
        font-size: map-get($font_size, '18px');
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 52px;
        align-items: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        position: relative;
        z-index: 1;
        &:hover{
            cursor: pointer;
        }
        &::after{
            content: '';
            position: absolute;
            background-color: $color-principal;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            z-index: -1;
            border-radius: 5px;
        }
    }
    &--arrow{
        width: 24px;
        height: 15px;
        background-color: transparent;
        border: 0;
        background-size: cover;

    }
    &--content{
        padding-left: 1.1rem;
        padding-right: 1.1rem;

        background-color: $section_grey_bg;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: $color-principal;
        font-size: map-get($font_size, '24px');
        height: 100%;
        margin-bottom: 1rem;


    }

    &.opened{
        .accordion--arrow{
            background-image: url('../images/arrow_top.svg');
        }
        .accordion--content{
            transition: all .3s ease;
            // transform: scaleY(1);
            transform-origin: top;
            height: auto;
            overflow: hidden;
            padding-top: 1.8rem;
            padding-bottom: 1.1rem;
           
   
        }
    }
    &.closed{
        .accordion--title{
            background-color: transparent;
         
        }
        .accordion--arrow{
            background-image: url('../images/arrow_down.svg');
        }
        .accordion--content{
            transition: all .3s ease;
            // transform: scaleY(0);
            transform-origin: top;
            height: 0px;
            padding: 0px;
            padding-left: 1.1rem;
            padding-right: 1.1rem;
            overflow: hidden;

        }
    }
}

.my-list{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


.center-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


    .error-404{
        color: $color-principal;
        font-size: map-get($font_size, '288px');
        font-weight: bold;
    }
    .error-text{
        color: $color-principal;
        font-size: map-get($font_size, '36px');

    }
    .error-link{
        color: $color-principal;
        font-size: map-get($font_size, '18px');

    }
}

@media screen and (max-width: 576px) {
    .content{
        background-color: transparent;
        .row{
            .my-card{
                width: calc(100% - 2rem - 0.66rem);
                padding-bottom:  calc(100% - 2rem - 0.66rem - 4rem);
            }
        }
    }

    .banner_row{
        display: flex;
        justify-content: center;
    }
    .banner{
        width: calc(100% - 3rem);
        margin-bottom: 2rem;

        .filter{
            font-size: map-get($font_size, '24px');
            padding: 1rem;
        }
    }
    nav{
        ul{
            li{
                font-size: map-get($font_size, '12px');
            }
        }
    }

    .header{
        margin-left: .5rem;
        margin-right: .5rem;
    }
    .logo{
        height: 2.7rem;
    }

    .slider{
        
            margin-right: 1.5rem;
            margin-left: 1.5rem;
            overflow: hidden;
            width: calc(100% - 3rem);
            .slider-cont{
                overflow: hidden;
                
            }
            .slide-btn{
                width: 12px;
                height: 20px;
                background-size: contain;
                top: calc(50% - 10px);
            }

            .slider-img{
                img{
                    height: 415px;
                    width: 100%;
                    object-fit: cover;
                }

            }
    }

    .options_row{
        display: flex;
        justify-content: center;
    }

    .options_cont{
        margin-left: .5rem;
        margin-right: .5rem;
        width: calc(100% - 1rem);
    }
    h1{
        font-size: map-get($font_size, '24px'); 
    }

    .right_content{
        width: calc(100% - 1rem);
        flex-direction: row-reverse;
        align-items: baseline;
        justify-content: space-between;
    }

    .center-page{
        padding-top: 5rem;
        padding-bottom: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        .error-404{
            font-size: map-get($font_size, '96px'); 
        }
        .error-text{
            font-size: map-get($font_size, '18px'); 
            text-align: center;
            margin-bottom: 5rem;
        }
    } 

    .error_page{
        
        .row{
            height: calc(100vh - 43px - 48px - 92px - 80px);
        }
    }

    .accord-col{
        margin-left: 1rem;
        margin-right: 1rem;
        width: calc(100% - 2rem);
    }

}